<!-- <div class="parent-container"> -->
  <footer class='footer'>
    <!-- <h1 class='footer__name'>{{ name }}</h1>
    <h2 class='footer__title'>{{ footerTitle }}</h2> -->
    Copyright © {{ name }}. Last update: 8/2019
    <p>Template from <a class='foot-link' href='https://github.com/Secretmapper/Riyu' target='_blank'>Secretmapper/Riyu</a></p>
    <p> <a class='foot-link' href="http://www.axialis.com/free/icons">Icons</a> by <a class='foot-link' href="http://www.axialis.com">Axialis</a></p>  
  </footer>
<!-- </div> -->