.footer {
  background-color: transparent;
  color: $footer-text-color;
  text-align: center;
  padding: 15px 0;
  line-height: 10px;
  font-size: 12px;

  .foot-link {
    color: $footer-text-color;
  }
  // .foot-link:hover {
  //     color:lightgray;
    
  // }
  
}
