$mobile: "(min-width: 0px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";

$main-color: #fdfdfd;
$main-text-color:#2f2f2f;

$info-color: #f04;
$info-text-color: white;


$tag-color: rgb(131, 161, 131);// rgb(126, 126, 126);

$back_color: #fdfdfd;

$muted-color: #eaeaea;
$footer-color: black;
$footer-text-color: $main-text-color;
$footer-alt-color: $main-color;

$contact-icon-size: 70px;