$mobile: "(min-width: 0px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";

$main-color: darkslategrey;
$main-text-color: #fff;

$info-color: $main-color;
$info-text-color: white;

$tag-color: teal;

$back_color: $main-color;

$muted-color: #eaeaea;
$footer-color: black;
$footer-text-color: white;
$footer-alt-color: $main-color;

$contact-icon-size: 70px;